trunk/KeywordService/composites/schema/src/main/wsdl/KeywordServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:KeywordServices:wsdl:metaservice.vgr.se:v2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:doc="urn:Document.schema.metaservice.vgr.se:v1"
        xmlns:node="urn:Node.schema.metaservice.vgr.se:v2"
        xmlns:req="urn:Request.schema.metaservice.vgr.se:v1"
        xmlns:res="urn:Response.schema.metaservice.vgr.se:v1"
        name="KeywordServices"
	targetNamespace="urn:KeywordServices:wsdl:metaservice.vgr.se:v2">
    <wsdl:documentation>Versoin: 2.0</wsdl:documentation>
    <wsdl:types>   
        <xsd:schema  
			targetNamespace="urn:KeywordServices:wsdl:metaservice.vgr.se:v2">
            <xsd:import schemaLocation="Document_V1.xsd"
				namespace="urn:Document.schema.metaservice.vgr.se:v1" />
<xsd:import schemaLocation="Node_V2.xsd"
				namespace="urn:Node.schema.metaservice.vgr.se:v2" />
<xsd:import schemaLocation="Request_V1.xsd"
				namespace="urn:Request.schema.metaservice.vgr.se:v1" />
<xsd:import schemaLocation="Response_V1.xsd"
				namespace="urn:Response.schema.metaservice.vgr.se:v1" />
            
            <!-- There can't be more than one zero-argument operation bound to the same service port. Use dummy-argument to circumvent the restriction -->
            <xsd:element name="GetKeywordsRequest">
                <xsd:complexType>
                    <xsd:sequence> 
                        <xsd:element name="identification" type="req:IdentificationType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="requestId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="document" type="doc:DocumentType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="options" type="req:OptionsType" minOccurs="0" maxOccurs="1" />;
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetKeywordsResponse"
				type="res:NodeListResponseObjectType" />
            <xsd:element name="GetNodeByInternalIdRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identification" type="req:IdentificationType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="requestId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="internalId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="namespaceName" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetNodeByInternalIdResponse"
				type="res:NodeListResponseObjectType" />
            <xsd:element name="TagKeywordsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identification" type="req:IdentificationType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="requestId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="userId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="keywordIds">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="keywordId"
										type="xsd:string" maxOccurs="unbounded" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TagKeywordsResponse" type="res:ResponseObjectType" />
            <xsd:element name="BookmarkKeywordsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identification" type="req:IdentificationType" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="requestId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="userId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="keywordIds">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="keywordIds" type="xsd:string" maxOccurs="unbounded" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BookmarkKeywordsResponse" type="res:ResponseObjectType" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetKeywordsRequest">
        <wsdl:part name="parameters" element="tns:GetKeywordsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GeKeywordsResponse">
        <wsdl:part element="tns:GetKeywordsResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetNodeByInternalIdRequest">
        <wsdl:part name="parameters" element="tns:GetNodeByInternalIdRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetNodeByInternalIdResponse">
        <wsdl:part element="tns:GetNodeByInternalIdResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TagKeywordsRequest">
        <wsdl:part name="parameters"
			element="tns:TagKeywordsRequest" />
    </wsdl:message>
	<wsdl:message name="TagKeywordsResponse">
        <wsdl:part name="parameters"
			element="tns:TagKeywordsResponse" />
    </wsdl:message>
    <wsdl:message name="BookmarkKeywordsRequest">
        <wsdl:part name="parameters"
			element="tns:BookmarkKeywordsRequest" />
    </wsdl:message>
    <wsdl:message name="BookmarkKeywordsResponse">
        <wsdl:part name="parameters"
			element="tns:BookmarkKeywordsResponse" />
    </wsdl:message>

    <wsdl:portType name="KeywordService">
        <wsdl:operation name="GetKeywords">
            <wsdl:input message="tns:GetKeywordsRequest" />
            <wsdl:output message="tns:GeKeywordsResponse" />
        </wsdl:operation>
        <wsdl:operation name="GetNodeByInternalId">
            <wsdl:input message="tns:GetNodeByInternalIdRequest" />
            <wsdl:output message="tns:GetNodeByInternalIdResponse" />
        </wsdl:operation>
        <wsdl:operation name="TagKeywords">
            <wsdl:input message="tns:TagKeywordsRequest" />
            <wsdl:output message="tns:TagKeywordsResponse" />"
        </wsdl:operation>
        <wsdl:operation name="BookmarkKeywords">
            <wsdl:input message="tns:BookmarkKeywordsRequest" />
            <wsdl:output message="tns:BookmarkKeywordsResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="KeywordsServiceSoapHttp"
		type="tns:KeywordService">
        <soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="GetKeywords">
            <soap:operation />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetNodeByInternalId">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TagKeywords">
            <soap:operation />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="BookmarkKeywords">
            <soap:operation />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
